@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata.otf) format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url(montserrat/Montserrat-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Space Mono;
  src: url(spacemono/spacemono/SpaceMono-Regular.ttf) format("opentype");
}

