<div class="home__container" style="display: block;">
    <app-home-header
        [logoHeader]="logoHeader"
    >
        <app-home-weatherr></app-home-weatherr>
    </app-home-header>
    <app-home-body
        [bodyResume1en]="bodyResume1en"
        [bodyResume1pt]="bodyResume1pt"
        [bodyResume2en]="bodyResume2en"
        [bodyResume2pt]="bodyResume2pt"
        [bodyResume3en]="bodyResume3en"
        [bodyResume3pt]="bodyResume3pt"
        [bodyResume4en]="bodyResume4en"
        [bodyResume4pt]="bodyResume4pt"
    ></app-home-body>
    <app-home-footer
        [loginUrl]="loginUrl"
        [resfreshTime]="resfreshTime"
    ></app-home-footer>
</div>
