.home-footer__container{
    display: flex;
    max-height: 250px;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
}
.home-footer__left-container {
    width: 50%;
    text-align: end;
    margin: auto;
    align-items: center;
    justify-content: end;
    display: flex;
    
}
.home-footer__right-container {
    width: 50%;
    padding-left: 5%;
}
.home-footer__left-container-text {
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.home-footer__left-container-img {
    height: 50px;
    width: 61px;
}