.header__logo {
    margin-top: 35px;
}
.header__hour {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    // line-height: 216px;
    text-align: center;
    color: #222222;
    p {
        margin: 0px;
    }
}
.header__full-date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}