<div class="header__container">
    <div class="header__logo-container">
        <img src="../../../assets/svgs/compassuol-logo-black.svg" class="header__logo" alt="">
    </div>
    <div class="header__hour-container">
        <p>11:30</p>
        <small class="header__full-date">terça-feira, 17 de março de 2020</small>
    </div>
    <div class="header__weather-container">
        <p>{{ location }}</p>
        <div style="display: flex; text-align: end;">
            <img [src]="icon" alt="current-weather-icon">
            <p>{{ currentTemperature }}°</p>
        </div>
    </div>
</div>
