/* You can add global styles to this file, and also import other style files */

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.not-fount__p {
  position: absolute;
  width: 100%;
  height: 25px;
  left: 77px;
  top: 40px;

  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}
.img-box__images {
  width: 70%;
}

.main-message__text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.secondary-message__text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
}

.main-button__black {
  color: #ffffff;
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  background: #333333;
}

