<div class="login__main-container">
    <div class="login__form-container">
        <div class="login__form-inner-container">
            <div class="login__form-header">
                <h1>Olá,</h1>
                <p class="login__form-text">Para continuar navegando de forma segura, efetue o login na rede.</p>
            </div>
            <div class="login__form-body">
                <h1 class="login__sub-title">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="login__form-group">
                        <input 
                            type="text" 
                            id="username"
                            class="login__form-input" 
                            formControlName="username" 
                            placeholder="Usuario"
                        />
                    </div>
                    <div class="login__form-group">
                        <input 
                            type="text" 
                            id="password" 
                            class="login__form-input"
                            formControlName="password" 
                            placeholder="Senha"
                        />
                    </div>
                    <div class="login__form-group">
                        <input 
                            type="text" 
                            id="password" 
                            class="login__form-input"
                            formControlName="password" 
                            placeholder="Senha"
                        />
                    </div>
                    <div class="login__form-group">
                        <button type="submit" class="login__form-submit-btn">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="login__background">
        <img src="../assets/svgs/Logo-Compasso-Branco-hor 1.svg" class="login__logo" alt="">
    </div>
</div>

<!-- <router-outlet></router-outlet> -->
