<div class="login__main-container">
    <div class="login__form-container">
        <div class="login__form-inner-container">
            <div class="login__background--mobile">
                <img src="../assets/svgs/Logo-Compasso-Branco-hor 1.svg" class="login__logo" alt="">
            </div>
            <div class="login__form-header">
                <h1>Olá,</h1>
                <p class="login__form-text">Para continuar navegando de forma segura, efetue o login na rede.</p>
            </div>
            <app-login-form></app-login-form>
        </div>
    </div>

    <div class="login__background">
        <img src="../assets/svgs/Logo-Compasso-Branco-hor 1.svg" class="login__logo" alt="">
    </div>
</div>