<div class="home-body__container">
    <div>
        <img src="../../../assets/images/uol-ball-transparent 1.png" alt="">
    </div>
    <div>
        <h4>Our mission is</h4>
        <p>Nossa missão é</p>
        
        <h3>to transform the world</h3>
        <p>transformar o mundo</p>
        
        <h3>building digital experiences</h3>
        <p>construindo experiências digitais</p>
        
        <h3>that enable our client’s growth</h3>
        <p>que permitam o crescimento dos nossos clientes</p>
    </div>
</div>
