<div class="home-body__container">
    <div class="home-body__logo">
        <img src="../../../assets/images/uol-ball-transparent 1.png" alt="">
    </div>
    <div class="home-body__resume">
        <h4>{{ bodyResume1en }}</h4>
        <p>{{ bodyResume1pt }}</p>
        
        <h3>{{ bodyResume2en }}</h3>
        <p>{{ bodyResume2pt }}</p>
        
        <h3>{{ bodyResume3en }}</h3>
        <p>{{ bodyResume3pt }}</p>
        
        <h3>{{ bodyResume4en }}</h3>
        <p>{{ bodyResume4pt }}</p>
    </div>
</div>
