.home-body__container {
    display: flex;
    max-height: 700px;
    padding-top: 100px;
}
.home-body__logo {      
    width: 40%;
    max-height: 453px;
    padding-top: 4%;
    overflow: hidden;
}
.home-body__resume {
    width: 65%;
    padding-right: 3%;
}
h3 {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 66px;
    text-align: right;
    color: #C12D18;
}
h4 {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 34px;
    text-align: right;
    color: #C12D18;
}
p {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 36px;
    text-align: right;
    color: #222222;
}
@media (max-width: 1043px) {
    .home-body__logo {
        width: 50%;
        padding-top: 16%;
    }
    .home-body__resume {
        width: 50%;
    }
}
@media (max-width: 800px) {
    .home-body__logo {
        width: 50%;
        padding-top: 16%;
    }
    .home-body__resume {
        display: none;
    }
}
